{%- assign enable_variable = true -%}
{%- assign collection_id_string = collection.id | downcase -%}

{%- assign blacklisted_collections = '' | split: ',' -%}
{%- if blacklisted_collections contains collection_id_string -%}{%- assign enable_variable = false -%}{%- endif -%}
{%- assign whitelisted_collections = '' | split: ',' -%}
{%- if whitelisted_collections contains collection_id_string -%}{%- assign enable_variable = true -%}{%- endif -%}


{%- if enable_variable -%}
  {%- assign condition_option_name = null -%}
  {%- assign condition_option_value = null -%}
  {%- assign condition_sale = false -%}
  {%- assign collection_black_list = '' | split: ',' -%}
  
  
  

  {% paginate collection.products by section.settings.products_per_page %}
    <main data-behavior="variable-products" style="display: none !important" data-collection-id='{{ collection_id_string }}' data-collection-handle='{{ collection.handle }}'>
      {%- assign variable_products = "[" -%}
      {%- assign variable_products_arr = "" | split: "," -%}
      {%- unless variable_collection_products -%}
        {%- assign variable_collection_products = collection.products | default: collection.products -%}
      {%- endunless -%}

      {%- for full_product in variable_collection_products -%}
        {%- assign product = full_product -%}
        {%- assign product_forloop = forloop -%}
        {%- assign variable_product = '{"' | append:product.handle | append:'":{"id":"' | append:product.id -%}
        {%- assign variable_product = variable_product | append:'","options":{' -%}

        {%- assign options_exist = false -%}
        {%- for product_option in product.options_with_values -%}
          {%- assign values_exist = false -%}
          {%- if options_exist == true -%}
            {%- assign variable_product = variable_product | append:',' -%}
          {%- endif -%}
          {%- assign variable_product = variable_product | append:'"option' | append:product_option.position | append:'":{"values":[' -%}
          {%- for value in product_option.values -%}
            {%- if values_exist == true -%}
              {%- assign variable_product = variable_product | append:',' -%}
            {%- endif -%}
            {%- assign variable_option_value = value | replace: '"', '' | replace: "'", '' -%}
            {%- assign variable_product = variable_product | append:'"' | append:variable_option_value | append:'"' -%}
            {%- assign values_exist = true -%}
          {%- endfor -%}
          {%- assign variable_product = variable_product | append:'], "name":"' | append:product_option.name | append: '"}' -%}
          {%- assign options_exist = true -%}
        {%- endfor -%}

        {%- assign variable_product = variable_product | append:'},"variants":[' -%}
        {%- assign variants_arr = "" | split: "," -%}
        {%- assign show_products_without_variants = true -%}
        {%- if product.has_only_default_variant and show_products_without_variants -%}
          {%- assign variant_hsh = '{}' -%}
          {%- for product in full_product.variants -%}
            {%- assign variant = product -%}
            {%- if condition_sale -%}{%- if variant.compare_at_price == nil or variant.compare_at_price <= variant.price -%}{%- continue -%}{%- endif -%}{%- endif -%}
            
              {%- assign variable_option1_value = variant.option1 | replace: '"', '' | replace: "'", '' -%}
              {%- assign variable_option2_value = variant.option2 | replace: '"', '' | replace: "'", '' -%}
              {%- assign variable_option3_value = variant.option3 | replace: '"', '' | replace: "'", '' -%}

              {%- assign variable_product_variant = '{"id":"' | append:variant.id | append: '", "option1":"' | append:variable_option1_value | append: '", "option2":"' | append:variable_option2_value | append: '", "option3":"' | append:variable_option3_value | append: '", "available":' | append:variant.available | append: ', "ctitle":' | append:variant_hsh | append: '}' -%}
              {%- assign tmp_variant_arr = variable_product_variant | split: "," -%}
              {%- assign variants_arr = variants_arr|concat:tmp_variant_arr -%}

            <li class="grid__item">
              {% render 'product-card', full_product: full_product, product_card_product: product,
              media_size: section.settings.image_ratio, show_secondary_image:
              section.settings.show_secondary_image, add_image_padding:
              section.settings.add_image_padding, show_vendor:
              section.settings.show_vendor %}
            </li>
          {%- endfor -%}
        {%- else -%}

          {%- assign except_options = 'Size' | split: ',' -%}
      {%- assign black_list = '' | split: ',' -%}
      {%- assign white_list = '' | split: ',' -%}
      {%- assign shown_variants = '' -%}

      {%- assign option1_values = '' -%}
      {%- assign option2_values = '' -%}
      {%- assign option3_values = '' -%}
      {%- for variant_id in white_list -%}
        {%- for product in full_product.variants -%}
          {%- assign variant = product -%}

          {%- assign product_id = product.id | append: '' -%}
          {%- if product_id == variant_id -%}
            {%- if product.option1 -%}
              {%- assign option1_values = option1_values | append:',' | append: product.option1 -%}
            {%- endif -%}
            {%- if product.option2 -%}
              {%- assign option2_values = option2_values | append:',' | append: product.option2 -%}
            {%- endif -%}
            {%- if product.option3 -%}
              {%- assign option3_values = option3_values | append:',' | append: product.option3 -%}
            {%- endif -%}
            {%- assign variant_hsh = '{' -%}

            {%- assign shown_variants = shown_variants | append: ', ' | append: product_id -%}
            {%- for opt in full_product.options_with_values -%}
              {%- unless except_options contains opt.name -%}
                {%- if variant_hsh.size > 1 -%}
                  {%- assign variant_hsh = variant_hsh | append:',' -%}
                {%- endif -%}
                {%- assign pos = opt.position -%}
                {%- assign opt_name = 'option' | append: pos -%}
                {%- assign variant_hsh = variant_hsh | append:'"' | append:opt_name | append: '":"' -%}
                {%- if pos == 1 -%}
                  {%- assign variable_option1_value = variant.option1 | replace: '"', '' | replace: "'", '' -%}
                  {%- assign variant_hsh = variant_hsh | append: variable_option1_value | append: '"' -%}
                {%- endif -%}
                {%- if pos == 2 -%}
                  {%- assign variable_option2_value = variant.option2 | replace: '"', '' | replace: "'", '' -%}
                  {%- assign variant_hsh = variant_hsh | append: variable_option2_value | append: '"' -%}
                {%- endif -%}
                {%- if pos == 3 -%}
                  {%- assign variable_option3_value = variant.option3 | replace: '"', '' | replace: "'", '' -%}
                  {%- assign variant_hsh = variant_hsh | append: variable_option3_value | append: '"' -%}
                {%- endif -%}
              {%- endunless -%}
            {%- endfor -%}

            {%- assign variant_hsh = variant_hsh | append:'}' -%}
            
              {%- assign variable_option1_value = variant.option1 | replace: '"', '' | replace: "'", '' -%}
              {%- assign variable_option2_value = variant.option2 | replace: '"', '' | replace: "'", '' -%}
              {%- assign variable_option3_value = variant.option3 | replace: '"', '' | replace: "'", '' -%}

              {%- assign variable_product_variant = '{"id":"' | append:variant.id | append: '", "option1":"' | append:variable_option1_value | append: '", "option2":"' | append:variable_option2_value | append: '", "option3":"' | append:variable_option3_value | append: '", "available":' | append:variant.available | append: ', "ctitle":' | append:variant_hsh | append: '}' -%}
              {%- assign tmp_variant_arr = variable_product_variant | split: "," -%}
              {%- assign variants_arr = variants_arr|concat:tmp_variant_arr -%}

            <li class="grid__item">
              {% render 'product-card', full_product: full_product, product_card_product: product,
              media_size: section.settings.image_ratio, show_secondary_image:
              section.settings.show_secondary_image, add_image_padding:
              section.settings.add_image_padding, show_vendor:
              section.settings.show_vendor %}
            </li>
          {%- endif -%}

        {%- endfor -%}
      {%- endfor -%}

      {%- assign show_out_of_stock = true -%}
      {%- assign out_of_stock_limit = 0 -%}

      {%- for product_option in full_product.options_with_values -%}
        {%- unless except_options contains product_option.name -%}
          {%- assign option_position = product_option.position -%}
          {%- if option_position == 1 -%}
            {%- assign option_values = option1_values | split:',' -%}
          {%- endif -%}
          {%- if option_position == 2 -%}
            {%- assign option_values = option2_values | split:',' -%}
          {%- endif -%}
          {%- if option_position == 3 -%}
            {%- assign option_values = option3_values | split:',' -%}
          {%- endif -%}
          {%- assign option_name = 'option' | append: option_position -%}

          {%- for product_var in full_product.variants -%}
            {%- assign product = product_var -%}
            {%- assign variant = product -%}
            {%- if condition_sale -%}{%- if variant.compare_at_price == nil or variant.compare_at_price <= variant.price -%}{%- continue -%}{%- endif -%}{%- endif -%}

            {%- assign product_id = product_var.id | append: '' -%}
            {%- unless black_list contains product_id -%}
              {%- unless option_values contains product[option_name] or shown_variants contains product_id -%}
                {%- assign tmp_arr = product[option_name] | split:',' -%}
                {%- assign option_values = option_values | concat:tmp_arr -%}

                {%- assign variant_hsh = '{' -%}
                {%- for opt in full_product.options_with_values -%}
                  {%- unless except_options contains opt.name -%}
                    {%- if variant_hsh.size > 1 -%}
                      {%- assign variant_hsh = variant_hsh | append:',' -%}
                    {%- endif -%}
                    {%- assign pos = opt.position -%}
                    {%- assign opt_name = 'option' | append: pos -%}
                    {%- assign variant_hsh = variant_hsh | append:'"' | append:opt_name | append: '":"' -%}
                    {%- if pos == 1 -%}
                      {%- assign variable_option1_value = product_var.option1 | replace: '"', '' | replace: "'", '' -%}
                      {%- assign variant_hsh = variant_hsh | append: variable_option1_value | append: '"' -%}
                    {%- endif -%}
                    {%- if pos == 2 -%}
                      {%- assign variable_option2_value = product_var.option2 | replace: '"', '' | replace: "'", '' -%}
                      {%- assign variant_hsh = variant_hsh | append: variable_option2_value | append: '"' -%}
                    {%- endif -%}
                    {%- if pos == 3 -%}
                      {%- assign variable_option3_value = product_var.option3 | replace: '"', '' | replace: "'", '' -%}
                      {%- assign variant_hsh = variant_hsh | append: variable_option3_value | append: '"' -%}
                    {%- endif -%}
                  {%- endunless -%}
                {%- endfor -%}
                {%- assign variant_hsh = variant_hsh | append:'}' -%}

                {%- if product.inventory_quantity > out_of_stock_limit or product.inventory_policy == 'continue' -%}
                  {%- assign shown_variants = shown_variants | append: ', ' | append: product_id -%}
                  
              {%- assign variable_option1_value = variant.option1 | replace: '"', '' | replace: "'", '' -%}
              {%- assign variable_option2_value = variant.option2 | replace: '"', '' | replace: "'", '' -%}
              {%- assign variable_option3_value = variant.option3 | replace: '"', '' | replace: "'", '' -%}

              {%- assign variable_product_variant = '{"id":"' | append:variant.id | append: '", "option1":"' | append:variable_option1_value | append: '", "option2":"' | append:variable_option2_value | append: '", "option3":"' | append:variable_option3_value | append: '", "available":' | append:variant.available | append: ', "ctitle":' | append:variant_hsh | append: '}' -%}
              {%- assign tmp_variant_arr = variable_product_variant | split: "," -%}
              {%- assign variants_arr = variants_arr|concat:tmp_variant_arr -%}

                  <li class="grid__item">
              {% render 'product-card', full_product: full_product, product_card_product: product,
              media_size: section.settings.image_ratio, show_secondary_image:
              section.settings.show_secondary_image, add_image_padding:
              section.settings.add_image_padding, show_vendor:
              section.settings.show_vendor %}
            </li>
                {%- else -%}
                  {%- assign available_exist = false -%}
                  {%- for suitable_variant in full_product.variants -%}
                    {%- assign suitable_variant_id = suitable_variant.id | append: '' -%}
                    {%- unless black_list contains suitable_variant_id -%}
                      {%- if suitable_variant.inventory_quantity > out_of_stock_limit or suitable_variant.inventory_policy == 'continue' -%}

                        {%- assign suitable_variant_hsh = '{' -%}
                        {%- for opt in full_product.options_with_values -%}
                          {%- unless except_options contains opt.name -%}
                            {%- if suitable_variant_hsh.size > 1 -%}
                              {%- assign suitable_variant_hsh = suitable_variant_hsh | append:',' -%}
                            {%- endif -%}
                            {%- assign pos = opt.position -%}
                            {%- assign opt_name = 'option' | append: pos -%}
                            {%- assign suitable_variant_hsh = suitable_variant_hsh | append:'"' | append:opt_name | append: '":"' -%}
                            {%- if pos == 1 -%}
                              {%- assign variable_option1_value = suitable_variant.option1 | replace: '"', '' | replace: "'", '' -%}
                              {%- assign suitable_variant_hsh = suitable_variant_hsh | append: variable_option1_value | append: '"' -%}
                            {%- endif -%}
                            {%- if pos == 2 -%}
                              {%- assign variable_option2_value = suitable_variant.option2 | replace: '"', '' | replace: "'", '' -%}
                              {%- assign suitable_variant_hsh = suitable_variant_hsh | append: variable_option2_value | append: '"' -%}
                            {%- endif -%}
                            {%- if pos == 3 -%}
                              {%- assign variable_option3_value = suitable_variant.option3 | replace: '"', '' | replace: "'", '' -%}
                              {%- assign suitable_variant_hsh = suitable_variant_hsh | append: variable_option3_value | append: '"' -%}
                            {%- endif -%}
                          {%- endunless -%}
                        {%- endfor -%}
                        {%- assign suitable_variant_hsh = suitable_variant_hsh | append:'}' -%}

                        {%- if suitable_variant_hsh == variant_hsh -%}
                          {%- assign available_exist = suitable_variant -%}
                          {%- break -%}
                        {%- endif -%}
                      {%- endif -%}
                    {%- endunless -%}
                  {%- endfor -%}

                  {%- if available_exist != false -%}
                    {%- assign product = available_exist -%}
                    {%- assign variant = available_exist -%}
                  {%- endif -%}
                  {%- if available_exist or show_out_of_stock -%}
                    {%- assign shown_variants = shown_variants | append: ', ' | append: product_var.id -%}
                    
              {%- assign variable_option1_value = variant.option1 | replace: '"', '' | replace: "'", '' -%}
              {%- assign variable_option2_value = variant.option2 | replace: '"', '' | replace: "'", '' -%}
              {%- assign variable_option3_value = variant.option3 | replace: '"', '' | replace: "'", '' -%}

              {%- assign variable_product_variant = '{"id":"' | append:variant.id | append: '", "option1":"' | append:variable_option1_value | append: '", "option2":"' | append:variable_option2_value | append: '", "option3":"' | append:variable_option3_value | append: '", "available":' | append:variant.available | append: ', "ctitle":' | append:variant_hsh | append: '}' -%}
              {%- assign tmp_variant_arr = variable_product_variant | split: "," -%}
              {%- assign variants_arr = variants_arr|concat:tmp_variant_arr -%}

                    <li class="grid__item">
              {% render 'product-card', full_product: full_product, product_card_product: product,
              media_size: section.settings.image_ratio, show_secondary_image:
              section.settings.show_secondary_image, add_image_padding:
              section.settings.add_image_padding, show_vendor:
              section.settings.show_vendor %}
            </li>
                  {%- endif -%}
                {%- endif -%}
              {%- endunless -%}
            {%- endunless -%}
          {%- endfor -%}
        {%- endunless -%}
      {%- endfor -%}

      {%- assign variants_count = shown_variants | size -%}
      {%- assign show_first_if_all_hidden = false -%}
      {%- if variants_count == 0 and show_first_if_all_hidden -%}

        {%- for product in full_product.variants -%}
          {%- assign product_id = product.id | append: '' -%}
          {%- unless black_list contains product_id -%}
            {%- assign variant = product -%}
            {%- assign variant_hsh = '{' -%}
            {%- if option1 == true -%}
              {%- assign variable_option1_value = variant.option1 | replace: '"', '' | replace: "'", '' -%}
              {%- assign variant_hsh = variant_hsh | append:'"option1":"' | append: variable_option1_value | append: '"' -%}
            {%- endif -%}
            {%- if option2 == true -%}
              {%- assign variable_option2_value = variant.option2 | replace: '"', '' | replace: "'", '' -%}
              {%- if option1 == true -%}
                {%- assign variant_hsh = variant_hsh | append:',' -%}
              {%- endif -%}
              {%- assign variant_hsh = variant_hsh | append:'"option2":"' | append: variable_option2_value | append: '"' -%}
            {%- endif -%}
            {%- if option3 == true -%}
              {%- assign variable_option3_value = variant.option3 | replace: '"', '' | replace: "'", '' -%}
              {%- if option1 == true or option2 == true -%}
                {%- assign variant_hsh = variant_hsh | append:',' -%}
              {%- endif -%}
              {%- assign variant_hsh = variant_hsh | append:'"option3":"' | append: variable_option3_value | append: '"' -%}
            {%- endif -%}
            {%- assign variant_hsh = variant_hsh | append:'}' -%}

            {%- assign shown_variants = shown_variants | append: ', ' | append: product.id -%}
            
              {%- assign variable_option1_value = variant.option1 | replace: '"', '' | replace: "'", '' -%}
              {%- assign variable_option2_value = variant.option2 | replace: '"', '' | replace: "'", '' -%}
              {%- assign variable_option3_value = variant.option3 | replace: '"', '' | replace: "'", '' -%}

              {%- assign variable_product_variant = '{"id":"' | append:variant.id | append: '", "option1":"' | append:variable_option1_value | append: '", "option2":"' | append:variable_option2_value | append: '", "option3":"' | append:variable_option3_value | append: '", "available":' | append:variant.available | append: ', "ctitle":' | append:variant_hsh | append: '}' -%}
              {%- assign tmp_variant_arr = variable_product_variant | split: "," -%}
              {%- assign variants_arr = variants_arr|concat:tmp_variant_arr -%}

            <li class="grid__item">
              {% render 'product-card', full_product: full_product, product_card_product: product,
              media_size: section.settings.image_ratio, show_secondary_image:
              section.settings.show_secondary_image, add_image_padding:
              section.settings.add_image_padding, show_vendor:
              section.settings.show_vendor %}
            </li>
            {%- break -%}

          {%- endunless -%}
        {%- endfor -%}

      {%- endif -%}


        {%- endif -%}
        {%- assign joined_variants = variants_arr | join: "," -%}
        {%- assign variable_product = variable_product | append: joined_variants | append:"]}}" -%}

        {%- assign tmp_product_arr = variable_product | split: "," -%}
        {%- assign variable_products_arr = variable_products_arr|concat:tmp_product_arr -%}
      {%- endfor -%}

      {%- assign joined_products = variable_products_arr | join: "," -%}
      {%- assign variable_products = variable_products | append: joined_products | append:"]" -%}
      <span data-behavior="variable_product_list" data-product_list='{{ variable_products }}'></span>
    </main>
    
  {%- endpaginate -%}
{%- endif -%}
